! -----------------------------------------------------------------------------
! URXVT
Xcursor.theme: Vanilla-DMZ-AA

! -----------------------------------------------------------------------------
! General settings
URxvt.saveLines    : 6000
URxvt.scrollBar    : True
URxvt.scrollstyle  : plain
URxvt*termName     : rxvt
!URxvt*termName    : xterm
URxvt.urgentOnBell : True
URxvt.cursorBlink  : True

! -----------------------------------------------------------------------------
! Extensions
URxvt.perl-ext-common: default,clipboard,keyboard-select,url-select
URxvt.urlLauncher: chromium
URxvt.urlButton: 1
URxvt.underlineURLs: True

URxvt.copyCommand:  xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard

! -----------------------------------------------------------------------------
! Keybindings
! URxvt.keysym.Mod4-c: perl:clipboard:copy
! URxvt.keysym.Mod4-v: perl:clipboard:paste
! URxvt.keysym.Mod4-C-v: perl:clipboard:paste_escaped
! URxvt.keysym.M-c: perl:clipboard:copy
! URxvt.keysym.M-v: perl:clipboard:paste
! URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
! URxvt.keysym.M-Escape: perl:keyboard-select:activate
! URxvt.keysym.C-Escape: perl:keyboard-select:activate
! URxvt.keysym.M-u: perl:url-select:select_next

! -----------------------------------------------------------------------------
! Fonts

!Courier
!URxvt.font: xft:Courier-10

!Inconsolata
URxvt.font: xft:Inconsolata-8
URxvt.boldFont: xft:Inconsolata-8
URxvt.letterSpace: -1

!Inconsolata-g
!URxvt.font: xft:InconsolataG-10
!URxvt.letterSpace: -1

!Anonymous Pro
!URxvt.font: xft:Anonymous\ Pro-12
!URxvt.letterSpace: -1

!Monaco
!URxvt.font: xft:Monaco-10
!URxvt.letterSpace: -1

!Droid Sans Mono
!URxvt.font: xft:Droid Sans Mono-10
!URxvt.letterSpace: -1

!DejaVu Sans
!URxvt.font: xft:DejaVu Sans Mono-10
!URxvt.letterSpace: -1

!Manospace
!URxvt.font: xft:Monospace-10
!URxvt.letterSpace: -1

!Terminus
!URxvt.font: xft:Terminus-10

! -----------------------------------------------------------------------------
! XTerm

Xterm*termName: xterm-256color
XTerm*termName: xterm-256color
XTerm*geometry: 800x240
XTerm*saveLines: 1024
XTerm*scrollBar: False
XTerm*loginshell: False
XTerm*cursorBlink: False

! Fonts and Encoding
XTerm*utf8: True
XTerm*locale: True
XTerm*utf8Title: True
XTerm*renderFont: True
XTerm*preeditType: Root
XTerm*xftAntialias: true
XTerm*faceName: xft:Inconsolata-8

! Trim trailing spaces
XTerm*trimSelection: true

! Fix alt-key inputting
XTerm*eightBitInput: false
XTerm*metaSendsEscape: true

! Copy and paste with clipboard
XTerm*translations: #override \
	Ctrl Shift <KeyPress> C: copy-selection(CLIPBOARD) \n\
	Ctrl Shift <KeyPress> V: insert-selection(CLIPBOARD)

! Allow selecting email/url by double-click
XTerm*charClass: 33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48



! -----------------------------------------------------------------------------
! Base16 Paraiso
! Scheme: Jan T. Sott

#define base00 #2f1e2e
#define base01 #41323f
#define base02 #4f424c
#define base03 #776e71
#define base04 #8d8687
#define base05 #a39e9b
#define base06 #b9b6b0
#define base07 #e7e9db
#define base08 #ef6155
#define base09 #f99b15
#define base0A #fec418
#define base0B #48b685
#define base0C #5bc4bf
#define base0D #06b6ef
#define base0E #815ba4
#define base0F #e96ba8

*.foreground:   base05
*.background:   base00
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06
